# Node.js
node_modules/

# VSCode
.vscode/

# Logs
*.log

# Editor files
*.DS_Store
*.swp
.npmrc

# Environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local